<app-header [showSearchBar]="false"></app-header>
<p-messages [value]="msgs"></p-messages>
<section class="c-edit">
  <div class="c-edit__sheet">
    <div class="c-edit__button">
        <button pButton
                type="button"
                label="Back"
                icon="pi pi-arrow-left"
                (click)="back()">

        </button>
    </div>
    <div class="c-edit__frame">
      <div class="c-edit__buttons">
        <button pButton
                type="button"
                label="Save changes"
                icon="pi pi-save"
                class="c-edit__buttons-button p-button-success"
                (click)="saveBand()">

        </button>
        <button pButton
                type="button"
                label="Discard changes"
                icon="pi pi-ban"
                class="c-edit__buttons-button p-button-warning"
                (click)="discard()">

        </button>
        <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
        <button pButton
                *ngIf="!new"
                type="button"
                label="Delete record"
                icon="pi pi-exclamation-triangle"
                class="c-edit__buttons-button p-button-danger"
                (click)="confirmDelete()">

        </button>
      </div>
      <h5>Name:</h5>
      <input type="text"
             class="c-edit__input"
             pInputText
             [(ngModel)]="bandTemp.name"/>
      <h5>Image (relation 1:1.8):</h5>
      <div class="c-edit__image-box">
        <input class="c-edit__image-text c-edit__input" type="text"
               pInputText
               [(ngModel)]="bandTemp.image"/>
        <img class="c-edit__image-img" src="{{bandTemp.image}}" alt="">
      </div>
      <h5>Description:</h5>
      <textarea class="c-edit__description c-edit__input c-edit-mb-25"
                pInputTextarea
                [autoResize]="true"
                [(ngModel)]="bandTemp.description">
    </textarea>
      <p-orderList [value]="bandTemp.discography"
                   [listStyle]="{'max-height': '20rem'}"
                   header="List of Discs" filterBy="name"
                   filterPlaceholder="Filter by name"
                   [dragdrop]="false"
                   controlsPosition="right">
        <ng-template let-disc pTemplate="item">
          <div class="product-item">
            <div class="product-list-detail">
              <h5 class="p-mb-2">{{disc.name}}</h5>
              <span class="product-category">{{disc.year}}</span>
            </div>
            <div class="product-list-action">
              <button pButton
                      pRipple
                      type="button"
                      icon="pi pi-times"
                      class="p-button-rounded p-button-danger"
                      (click)="deleteDisc(disc.name)"></button>
            </div>
          </div>
        </ng-template>
      </p-orderList>
      <div class="c-edit__new_disc">
        <h5>Name:</h5>
        <input type="text"
               class="c-edit__input c-edit__new_disc-ml-10"
               pInputText
               [(ngModel)]="newDisc.name"/>
        <h5 class="c-edit__new_disc-ml-10">Year:</h5>
        <input type="number"
               class="c-edit__input c-edit__new_disc-ml-10"
               pInputText
               [(ngModel)]="newDisc.year"/>
        <button pButton
                type="button"
                label="Add"
                icon="pi pi-plus-circle"
                class="p-button-success c-edit__new_disc-ml-10 c-edit-mt-20"
                (click)="addDisc()">

        </button>
      </div>

      <h5>YouTube video code:</h5>
      <input type="text"
             class="c-edit__input"
             pInputText
             [(ngModel)]="bandTemp.video"/>
      <app-youtube-player class="c-detail__video" [ytClip]="bandTemp.video"></app-youtube-player>
      <h5>Webpage:</h5>
      <input type="text"
             class="c-edit__input c-edit-mb-25"
             pInputText
             [(ngModel)]="bandTemp.webpage"/>
    </div>
  </div>
</section>

