.card {
  width: 500px;
  height: 300px;
  margin-bottom: 25px;
  -webkit-box-shadow: 19px 14px 41px -11px rgba(0,0,0,0.49);
  -moz-box-shadow: 19px 14px 41px -11px rgba(0,0,0,0.49);
  box-shadow: 19px 14px 41px -11px rgba(0,0,0,0.49)
}

.container {
  margin: 0;
  text-align: center;
}
