<header class="c-header">
  <div class="c-header__sheet">
    <div class="c-header__search-bar">
      <app-search-bar *ngIf="showSearchBar" (searchBarEmitter)="searchBarChanges($event)"></app-search-bar>
    </div>
    <nav class="c-header__nav c-header__menu">
      <div class="c-header__container">
        <ul class="c-header__ul">
          <li class="c-header__ul__item">
            <a class="c-header__ul__link" routerLink="/" routerLinkActive="c-header__ul__link--active" [routerLinkActiveOptions]="{exact: true}">Home</a>
          </li>
          <li class="c-header__ul__item">
            <a class="c-header__ul__link" routerLink="/about" routerLinkActive="c-header__ul__link--active">About</a>
          </li>
          <li class="c-header__ul__item">
            <a class="c-header__ul__link" routerLink="/contact" routerLinkActive="c-header__ul__link--active">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
