.c-header {
  background-image: none;
  color: #111111;
  background-color: #F4F4F4;
  min-height: 80px;
  margin: auto;
  width: 100%;

  &__sheet {
    position: relative;
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    margin: 22px 0 22px auto;
    max-width: 100%;
  }

  &__menu {
    max-width: 100%;
    opacity: 1;
    display: table;
    white-space: nowrap;
    position: relative;
    line-height: 1;
  }

  &__container {
    display: flex;
    white-space: nowrap;
    line-height: 1;
    align-items: start;
    justify-content: start;
    align-content: start;
    justify-items: flex-start;
  }

  &__ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;

    &__item {
      display: inline-block;
      position: relative;
      vertical-align: middle;
      text-align: right;
      padding: 0;
      margin: 0;
      height: 100%;
    }
    &__link {
      padding: 10px 0 10px 10px;
      display: block;
    }
  }

  &__shadow {
    -webkit-box-shadow: 6px 6px 10px 1px rgba(0,0,0,0.36);
    -moz-box-shadow: 6px 6px 10px 1px rgba(0,0,0,0.36);
    box-shadow: 6px 6px 10px 1px rgba(0,0,0,0.36);
  }

  &__item {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    text-align: right;
    padding: 0;
    margin: 0;
    height: 100%;
    max-width: 100%;
  }
  &__link {
    padding: 10px 0 10px 40px;
    display: block;
    &--active {
      color: #478ac9!important;
    }
  }

  &__search-bar {
    width: 100%;
    margin-bottom: 2px;
  }

  @media (max-width: 767px) {
    &__sheet {
      flex-direction: column-reverse;
      justify-content: center;
    }

    &__search-bar {
      width: 60%;
      margin-bottom: 20px;
    }

    &__nav {
      width: 50%;
      margin: auto;
    }

    &__ul {
      padding-inline-start: 0px;
    }
  }
}
